# minimal C64 .prg layout: load address word at $07FF, program at $0801
MEMORY {
    ZP:   start = $0002, size = $00FE, type = rw;
    HDR:  start = $07FF, size = $0002, file = %O;
    MAIN: start = $0801, size = $C7FF, file = %O;
}
SEGMENTS {
    HDR:    load = HDR,  type = ro;
    CODE:   load = MAIN, type = rw;
    RODATA: load = MAIN, type = ro, optional = yes;
    BSS:    load = MAIN, type = bss, define = yes, optional = yes;
}
