html {
	margin-left: 5%;
	margin-right: 5%;
	margin-top : 0%;
	margin-bottom : 10%;
	font-family: 'PT-sans', sans-serif;
	font-size: 1em;
	color: #4C4646	;
        line-height: 110%;
}

body {
      background-image: radial-gradient(circle, white, grey, black);
}

#main {
      width: 90%;
      margin: 0 auto;
      font-size: 1em;
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
      background-color: rgba(192,192,192);
}

#footer {
    padding-top: 40px;
    float: bottom;
    font-style: italic;
    font-size: .8em;
}

h3 { margin-top: 20px; }

/* Fonts */
h1, h2, h3, h4, h5, h6 {
	color: #3C3C3C;
    margin: 1em 0 1em;
    font-weight: bold;
}
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.25em;
}
h3 {
	font-size: 1em;
    font-weight: normal;
}
h4 {
	font-size: .9em;
    font-weight: normal;
}

#projects h3 {
#    font-style: italic;
    font-size: 1em;
}

# news {

}

#news ul {
    list-style: none;
    margin-left: 1em;
    padding: 0em;
    margin-top: -1em;
    font-size: .9em;
    line-height: 110%;
}

span.taken {
   color: blue;
}
a:link { color: #990066; text-decoration:none; }
a:visited { color: #990066; text-decoration:none; }
